* {
    padding: 0;
    margin: 0;
}


a {
    text-decoration: none;
}

@font-face {
    font-family: 'SourceHanSansCN-ExtraLight';
    src: url('../typeface/SourceHanSansCN-ExtraLight.otf') format('woff'),
}

/* 通用设置--------------👆 */
.header {
    width: 100%;
    min-width: 1280px;
    height: 80px;
    background-color: rgba(26, 25, 25, 0.88);
    -webkit-filter: blur(50);
    filter: blur(50);
    /* position: fixed; */
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* z-index: 2019; */
}

.logImge {
    margin-left: 58px;
}

.logImge img {
    margin-top: 12px;
}


.header-label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 2%;

}

.headText {
    /* padding: 0 5px; */
    width: 119px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    margin-right: 25px;
    cursor: pointer;
}

.headText:after {
    content: "";
    width: 0;
    height: 3px;
    background: #2dacfe;
    position: absolute;
    top: 96%;
    left: 52%;
    -webkit-transition: all .8s;
    -o-transition: all .8s;
    -moz-transition: all .8s;
    transition: all .8s;
    display: block;
}

.headText:hover.item-txt {
    color: #2dacfe;
}

.headText:hover:after {
    left: 0%;
    width: 99%;
}


.head-item {
    width: 120px;
}

.item-txt {
    width: 100%;
    line-height: 77px;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
    font-weight: 100;
    font-family: "SourceHanSansCN-ExtraLight";
}

.borderBottom {
    position: relative;
    left: -2px;
    width: 100%;
    border: 2px solid #2dacfe;
    display: none;
}

.borderBottom2 {
    width: 100%;
    border: 2px solid #2dacfe;
    display: none;
}

.borderBottom3 {
    width: 100%;
    border: 2px solid #2dacfe;
    display: none;
}

.borderBottom4 {
    width: 100%;
    border: 2px solid #2dacfe;
    display: none;
}

.borderBottom5 {
    width: 100%;
    border: 2px solid #2dacfe;
    display: none;
}

/* .item-txt:after {
    content: "";
    width: 0;
    height: 4px;
    background: #2dacfe;
    position: absolute;
    top: 96%;
    left: 50%;
    transition: all .8s;
    display: block;
}

.item-txt:hover:after {
    left: 0%;
    width: 100%;
} */

.item-txt:hover {
    color: #2dacfe;
    font-family: "SourceHanSansCN-ExtraLight";
}

.hidDiv {
    position: absolute;
    width: 100%;
    min-width: 1280px;
    height: 0px;
    background-color: #fff;
    top: 100%;
    left: 0;
    overflow: hidden;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    -moz-transition: 0.8s;
    transition: 0.8s;
    opacity: 0.92;
}

.QRemall {
    width: 100%;

}

.qrEmall {
    width: 70%;
    margin: auto;
    text-align: left;
}

.hidWindow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 15%;
    float: right;
    margin-right: 68px;
    line-height: 47px;
}

.joinList {
    font-size: 15px;
    color: #0e0e0e;
    font-family: "SourceHanSansCN-ExtraLight"
}

.joinList:hover {
    color: #2dacfe;
}