<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/foolter.css">
</head>

<body>
    <div class="footerText">
        <div class="footerDiv">
            <div class="footerImg">
                <img src="../public/img/logofooter.png">
            </div>
            <div class="text-align">
                <div class="text-height">
                    <p>成都止观互娱科技有限公司 版权所有</p>
                    <p>公司电话：028-65225090 | 公司地址：成都高新区锦晖西一街99号布鲁明顿广场1栋2单元701</p>
                    <p>川网文 [2016] 5898-193号 | 蜀ICP备16035972号-1 文网游备字(2017) M-RPG 0345号 | 经营许可证编号 川B2-20160380</p>
                    <p>本公司游戏产品适合18岁以上成年人使用（家长监护） 自律公约</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>