<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/header.css">
    <!-- 点击显示联系我们弹框css样式 -->
    <link rel="stylesheet" type="text/css" href="../public/css/contactShowDiv.css">
</head>

<body>
    <div class="joinDivShow">
        <div class="contactDiv">
            <div class="headTop">
                <img style="position: absolute;left: 0;" src="../public/img/contactway/01.png">
                <img id="closeDiv" style="position: absolute;left:0;cursor: pointer;"
                    src="../public/img/contactway/02.png">
            </div>
            <div class="contentDiv">
                <img src="../public/img/contactway/03.png">
                <div class="QRcode">
                    <img class="erweima" src="">
                </div>
                <p class="QRtext">止观互娱微信公众号</p>
                <div class="QRemall">
                    <div class="qrEmall">
                        <p class="businessEmail"></p>
                        <p class="eliteEmail"></p>
                        <p class="recruitEmail"></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="header">
        <a class="logImge" href="../index.html">
            <img src="../public/img/logo-导航栏-小.png" alt />
        </a>
        <div class="header-label">
            <div class="headText" id="headTxt1">
                <div class="head-item">
                    <a class="item-txt" href="../index.html">
                        首页
                        <div class="borderBottom"></div>
                    </a>
                </div>
            </div>
            <div class="headText" id="headTxt2">
                <div class="head-item">
                    <a class="item-txt" href="../src/AboutCompany.html">
                        关于止观
                        <div class="borderBottom2"></div>
                    </a>
                </div>
            </div>
            <div class="headText" id="headTxt3">
                <div class="head-item">
                    <a class="item-txt" href="../src/productCenter.html">
                        产品中心
                        <div class="borderBottom3"></div>
                    </a>

                </div>
            </div>
            <div class="headText" id="headTxt4">
                <div class="head-item" id="head-hover">
                    <a class="item-txt" id="joinBtn" href="javascrpt:;">
                        加入止观
                        <div class="borderBottom4"></div>
                    </a>
                </div>
            </div>
            <div class="hidDiv">
                <div class="hidWindow">
                    <p>
                        <a class="joinList" href="../src/JoinUse.html">社会招聘</a>
                    </p>
                    <p style="margin-left: 20%;">
                        <a class="joinList" href="../src/schoolWebPortal.html">校园招聘</a>
                    </p>
                </div>
            </div>
            <div class="headText" id="headTxt5">
                <div class="head-item" id="showWindow">
                    <a class="item-txt" href="javascrpt:;">
                        联系我们
                        <div class="borderBottom5"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>

    <!-- 点击显示联系我们弹框方法 -->
    <script src="../public/js/Url.js"></script>
    <script src="../public/js/header.js"></script>
    <script src="../public/js/contactShowDiv.js"></script>
    <script src="../public/js/AllSrc.js"></script>
</body>

</html>